.site-header {
    background-color: #292829;
    color: #35ff59;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
.site-header-content {
    margin: 10px; 
}
.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #62986c 2px 5px 5px;
}
.body {
    
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
.course-link {
    color: #35ff59;
}